<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Rango</title>
  </head>
  <body>
        <div class="">
          {% if category%}
          <h1>{{ category.name }}</h1>
          {% if pages %}
          <ul>
            {% for page in pages %}
            <li><a href="{{ page.url }}">{{ page.title }}</a></li>
            {% endfor %}
          </ul>
          {% else %}
          <strong>No hay páginas para esta categoría</strong>
          {% endif %}
          {% else %}
           No existe la categoría.
          {% endif %}
        </div>
        <div>
          
          <a href="/rango/">Volver al inicio.</a>

        </div>
  </body>
</html>
