<!DOCTYPE html>

<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Rango</title>
  </head>
  <body>
    {% load staticfiles %}

    <h1>Holaaaaa</h1>
    <div>
      hey there partner! <br />
      <strong>{{ boldmessage }}</strong><br />
    </div>
    <div>
      {% if categories %}
      <ul>
        {% for category in categories %}
        <li><a href="/rango/category/{{ category.slug }}/">{{ category.name }}</a></li>
        {% endfor %}
      </ul>
      {% else %}
        <strong>No hay categorias</strong>
      {% endif %}
    </div>
    <div>
      {% if pages %}
      <ul>
        {% for page in pages %}
        <li><a href="{{ page.url }}">{{ page.title }}</a></li>
        {% endfor %}
      </ul>
      {% else %}
      <strong>No hay páginas para esta categoría</strong>
      {% endif %}
    </div>

    <div>
      <a href="/rango/about/">About</a><br />
      <img src="{% static "images/Django_Reinhardt.jpg" %}"
alt="Picture of Django" />
    </div>


  </body>
</html>
